<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Bilal </title>
    <link rel="icon" type="image/png" href="/profile-pic.png">
    <link rel="stylesheet" href="/styles/about.css">
</head>
<body>
    <nav>
        <div class="left">
            <img src="/profile-pic.png" alt="profile pic" class="profile_pic">
            <a href="/" class="name">BILAL AHMED SHEIKH</a>
        </div>
        <div class="right">
            <a href="/">HOME</a>
            <a href="/about" class="active_menu">ABOUT</a>
            <a href="/projects">PROJECTS</a>
            <a href="/contact">CONTACT</a>
        </div>
    </nav>

    <h1 id="heyThere">Greetings!</h1>
    <div class="info">
        <img src="/about-pic.png" alt="profile picture" id="about_pic">
        <div class="info_text">
            <p>A computer systems engineer who is passionate about backend development.</p>
            <p>I love learning new technologies and using them to create interesting stuff.</p>
            <p>Whether I'm working independently or as part of a team, I enjoy the process of turning ideas into working systems.</p><a href="https://drive.google.com/file/d/1l_gqBYBOlGbRcGKYUwziVNDbuBsR1eB5/view?usp=sharing" target="_blank" class="highlight">See my resume.</a>
        </div>
    </div>

    <div class="tech">
        <h1 class="about_headings">Tech Stack</h1>
        <div class="tech_container">
            <div class="tech-badge">
                <img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white" alt="HTML5">
            </div>
            <div class="tech-badge">
                <img src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white" alt="CSS3">
            </div>
            <div class="tech-badge">
                <img src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E" alt="JavaScript">
            </div>
            <div class="tech-badge">
                <img src="https://img.shields.io/badge/node.js-6DA55F?style=for-the-badge&logo=node.js&logoColor=white" alt="NodeJS">
            </div>
            <div class="tech-badge">
                <img src="https://img.shields.io/badge/express.js-%23404d59.svg?style=for-the-badge&logo=express&logoColor=%2361DAFB" alt="Express.js">
            </div>
            <div class="tech-badge">
                <img src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54" alt="Python">
            </div>
            <div class="tech-badge">
                <img src="https://img.shields.io/badge/django-%23092E20.svg?style=for-the-badge&logo=django&logoColor=white" alt="Django">
            </div>
            <div class="tech-badge">
                <img src="https://img.shields.io/badge/DJANGO-REST-ff1709?style=for-the-badge&logo=django&logoColor=white&color=ff1709&labelColor=gray" alt="DjangoREST">
            </div>
            <div class="tech-badge">
                <img src="https://img.shields.io/badge/MongoDB-%234ea94b.svg?style=for-the-badge&logo=mongodb&logoColor=white" alt="MongoDB">
            </div>
            <div class="tech-badge">
                <img src="https://img.shields.io/badge/mysql-4479A1.svg?style=for-the-badge&logo=mysql&logoColor=white" alt="MySQL">
            </div>
            <div class="tech-badge">
                <img src="https://img.shields.io/badge/git-%23F05033.svg?style=for-the-badge&logo=git&logoColor=white" alt="Git">
            </div>
            <div class="tech-badge">
                <img src="https://img.shields.io/badge/Postman-FF6C37?style=for-the-badge&logo=postman&logoColor=white" alt="Postman">
            </div>
            <div class="tech-badge">
                <img src="https://img.shields.io/badge/Windows-0078D6?style=for-the-badge&logo=windows&logoColor=white" alt="Windows">
            </div>
            <div class="tech-badge">
                <img src="https://img.shields.io/badge/Linux-FCC624?style=for-the-badge&logo=linux&logoColor=black" alt="Linux">
            </div>
        </div>
    </div>

    <div class="tech">
        <h1 class="about_headings">Digital Presence</h1>
        <div class="tech_container">
            <a href="https://www.linkedin.com/in/bilal-ahmed-sheikh/" target="_blank" class="tech-badge">
                <img src="https://img.shields.io/badge/linkedin-%230077B5.svg?style=for-the-badge&logo=linkedin&logoColor=white" alt="LinkedIn">
            </a>
            <a href="https://github.com/Bilal-Sheikh-30" target="_blank" class="tech-badge">
                <img src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white" alt="GitHub">
            </a>
        </div>
    </div>
</body>
</html>