<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-Bilal Ahmed Sheikh</title>
    <link rel="icon" type="image/png" href="/profile-pic.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <nav>
        <div class="left">
            <img src="/profile-pic.png" alt="profile pic" class="profile_pic">
            <a href="/" class="name">BILAL AHMED SHEIKH</a>
        </div>
        <div class="right">
            <a href="/">HOME</a>
            <a href="/about" class="active_menu">ABOUT</a>
            <a href="/projects">PROJECTS</a>
            <a href="/contact">CONTACT</a>
        </div>
    </nav>

    <h1 id="heyThere">Hey there.</h1>
    <div class="info">
        <img src="/about_pic.jpg" alt="profile picture" id="about_pic">
        <div class="info_text">
            <p>This is Bilal. I am beginner in front end development.</p>
            <p> I also do programming in python. I have developed multiple projects using python, few are available on <a href="index.html#blank" class="highlight">Featured Projects</a> section.</p>
            <p>I'm also an undergrad student at Ned University of Engineering and Technology pursuing Bachelor's degree in Computer Engineering.</p><a href="/Bilal Ahmed Sheikh-resume.pdf" target="_blank" class="highlight">Click here to see my resume.</a>
        </div>
    </div>

    <div class="tech">
        <h1 class="about_headings">Tech Stack</h1>
        <div class="tech_container">
            <i class="fa-brands fa-html5 fa-2xl tech_icon" style="color: #de2b2b;"></i>
            <i class="fa-brands fa-css3-alt fa-2xl tech_icon" style="color: #3c73d3;"></i>
            <i class="fa-brands fa-js fa-2xl tech_icon" style="color: #ede62c;"></i>
            <i class="fa-brands fa-python fa-2xl tech_icon" style="color: #9b32ec;"></i>
        </div>
    </div>

    <div class="tech" id="social_media_container">
        <h1 class="about_headings">Digital Presence</h1>
        <div class="tech_container">
        <a href="https://www.linkedin.com/in/bilal-ahmed-sheikh/" target="_blank"><i
            class="fa-brands fa-linkedin fa-2xl tech_icon"></i></a>
        <a href="https://github.com/Bilal-Sheikh-30" target="_blank"><i class="fa-brands fa-github fa-2xl tech_icon"></i></a>
        </div>
    </div>
</body>
</html>