<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/profile-pic.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Login</title>
</head>
<body>
    <form action="/dashboard/login" method="post" class="container">
        <label for="password">Enter password</label>
        <input type="password" name="password" id="">
        <button type="submit">Login</button>
    </form>
</body>
</html>