<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/profile-pic.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
<h1>Dashboard</h1>
<form action="/dashboard/logout" method="post">
    <button type="submit">Log out</button>
</form>
<a href="/dashboard/add_project">New Project</a>
</body>
</html>